* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #2e2caa, #4c1c94);
    color: #ffffff;
}

header {
    background-color: #fbfbff; /* Cambialo por el que quieras */
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    color: #00f5ff;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: #595959;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    flex-wrap: wrap;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3.5rem;
    color: #00f5ff;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 30px;
    line-height: 1.6;
    color: #d0eaff;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    border: 2px solid #00e1ff;
    color: #00e1ff;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #f9feff;
    color: #1c003f;
}

.hero-image img {
    max-width: 500px;
    width: 100%;
}